body {
  background: radial-gradient(circle, #83388b, #18134f);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.my-box {
  width: 100%;
  height: 85%;
  background-image: url(./Background-image.png);
  background-size: 120rem;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 20px black;
}

.fa-brands {
  color: white;
  font-size: large;
  cursor: pointer;
}
